body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: lightgray;
}

.content {
  padding: 0;
  margin-top: 45px;
}

h3 {
  margin-top: 25px;
}

code {
  font-family: Consolas, monaco, monospace;
  background-color: #fff;
  padding: 5px;
}

.url-form {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border: 2px solid green;
  border-radius: 10px;
}